.container {
  display: flex;
}

.box {
  flex: 1;
  height: 100px;
  background-color: #eaeaea;
  margin: 1px;
}

.box1 {
  flex: 1;
  height: 100px;
  background-color: #eaeaea;
  margin: 1px;
  border-radius: 10px 0px 0px 10px;
}

.box2 {
  flex: 1;
  height: 100px;
  background-color: #eaeaea;
  margin: 1px;
  border-radius: 0px 10px 10px 0px;
}
