.navbar {
  background-color: #336699;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.nav-button {
  background-color: #004080;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #003366;
}

